body{
    background-color: #e28e4a;

}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}


.logo{
    color: rgb(245, 245, 245);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 600px;
    float: right;
    height: 70px;
}

ul{
    float: right;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search label{
    margin-left: 785px;
    margin-right: auto;
    font-size: 20px;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination strong{
    height: 20px;
    width:100%;
    background-color: #1c94f0  ;

  }